@using DrGreiche.Models.ViewModels;

@model MachineLocationVM


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Machine</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3 mt-3">
@*                <div asp-validation-summary="All" class="text-danger"></div>
*@               <div class="form-floating py-2 col-12">
                    <input asp-for="MachineCode" class="form-control border-0 shadow" />
                    <label asp-for="MachineCode" style="font-size:20px"></label>
                    <span asp-validation-for="MachineCode" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="MachineName" class="form-control border-0 shadow" />
                    <label asp-for="MachineName" style="font-size:20px"></label>
                    <span asp-validation-for="MachineName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Purpose_MTBF" class="form-control border-0 shadow" />
                    <label asp-for="Purpose_MTBF" style="font-size:20px"></label>
                    <span asp-validation-for="Purpose_MTBF" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Purpose_MTTR" class="form-control border-0 shadow" />
                    <label asp-for="Purpose_MTTR" style="font-size:20px"></label>
                    <span asp-validation-for="Purpose_MTTR" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="SelectedLocationID" asp-items="ViewBag.LocationSelectList" class="form-control border-0 shadow">
                        <option value="">--Select Location--</option>
                    </select>
                    <label asp-for="SelectedLocationID" class="control-label" style="font-size:20px"> Location</label>
                    <span asp-validation-for="SelectedLocationID" class="text-danger"></span>
                </div>


                <div class="form-floating py-2 col-12">
                    <input asp-for="WorkingHours" class="form-control border-0 shadow" />
                    <label asp-for="WorkingHours" style="font-size:20px"></label>
                    <span asp-validation-for="WorkingHours" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="LastMaintenanceDate" class="form-control border-0 shadow" />
                    <label asp-for="LastMaintenanceDate" style="font-size:20px"></label>
                    <span asp-validation-for="LastMaintenanceDate" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="NextMaintenanceDate" class="form-control border-0 shadow" />
                    <label asp-for="NextMaintenanceDate" style="font-size:20px"></label>
                    <span asp-validation-for="NextMaintenanceDate" class="text-danger"></span>
                </div>
             
                <div class="row py-3">
                    <div class="col-md-6 mb-sm-2 ">
                        <button class="form-control btn btn-primary w-100" type="submit">Create</button>

                    </div>
                    <div class="col-md-6 ">
                        <a asp-controller="Machine" asp-action="index" class="form-control btn btn-secondary">Back To Machine List</a>

                    </div>

                </div>
            </div>
        </form>

    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
            }